<h1>Editing Grade</h1>

<%= render 'form', course: @course, assignment: @assignment, grade: @grade %>

<%= link_to 'Show', [@course, @assignment, @grade] %> |
<%= link_to 'Back', course_assignment_grades_path %>
